@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
  font-family: Raleway, Helvetica, Arial, sans-serif;
  transition: all 0.3s ease;
}
body{
  background-color: #abc;
}
header{
  width:90%;
  margin: auto;
}
header h1{
  text-align: center;
}
header p{
  text-align: justify;
}
#main{
  padding: 1% 2% 1% 2%;
  width: 70%;
  margin: auto;
  color: #111;
  background-color: #eee;
  border-radius: 2px;
}
#survey-form{
  width: 90%;
  margin: auto;
}
.left-tab{  
  width: 50%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
label{
  margin: 5px 5px 5px 5px;
}
.right-tab{
  width: 49%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.input-box{
  margin: 0 5px 5px 5px;
  border: 1px solid DarkSlateGray;
  height: 1.5em;
  width: 95%;
  border: 1px solid #eee;
  background-color: #eee;
  border-bottom: 1px solid #999;
  font-size: 1em;
}
#email:invalid{
  background-color: #ff7c7c;
}
#email:valid{
  background-color: #6bff6b;
}
#dropdown{
  width: 70%;
}
ul{
  list-style: none;
  margin-bottom: -0.5em;
}
.checkboxes, .radio-buttons{
  position: relative;
  display: block;
  top: -18px;
  left: -44px;
  padding-bottom: 2px;
}
textarea{
  width: 95%;
  height: 5em;
  margin: 0 5px 5px 5px;
  border: 1px solid DarkSlateGray;
  border-radius: 2px;
  border: 1px solid #999;
  background-color: #eee;  
}
#submit-div{
  text-align: center;
  padding-bottom: 10px;
}
#submit{  
  padding: 0 3% 0 3%;
  font-size: 1.3rem;
  margin-top: 1%;
  color: #fff;
  background-color: #1924ff;
  border: 1px solid #1924ff;
  border-radius: 3px;
}
#submit:hover{
  background-color: #eee;
  border: 1px solid #1924ff;
  color: #1924ff;
}
#submit:active{
  position: relative;
  top: 2px;
}
@media screen and (max-width: 733px) {
  #main {
    width: 90%;
  }
  #dropdown {
    width: 90%;
  }
}

@media screen and (max-width: 535px) {
  #main{
    width: 98%;
  }
  #survey-form{
    width: 100%;
  }
  .left-tab {
    width: 100%;
    text-align: left;
  }
  .right-tabab {
    width: 100%;
    float: left;
  }
  .input-box {
    width: 200%;
  }
  #dropdown {
    width: 200%;
  }
  textarea{
    width: 200%;
  }
  
}